.about-title{
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  margin: 3vh 0;
  font-weight: 600;
  color: #fd8f41;;
}

.about-text{
  text-align:justify;
  font-size: 1.3rem;
  margin: 0 5vw;
  line-height: 2;
  color: #4c4c4c;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 2vh;
}

.gallery-container {
  width: 49vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .about-title{
    font-size: 1.8rem;
  }

  .about-text{
    font-size: 1.1rem;
  }
}

@media (max-width: 650px) {
  .about-title{
    font-size: 2rem;
  }

  .about-text{
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .about-title{
    font-size: 1.5rem;
  }

  .about-text{
    font-size: 0.8rem;
  }
}
