.artists-gallery-container {
    width: 49%;
    height: 100%;
  }
  
  .artists-gallery {
    display: grid;
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
  }
  
  .item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 1;
  
    grid-row-end: 2;
    grid-column-end: 3;
  }
  
  .item:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  
    grid-row-end: 2;
    grid-column-end: 5;
  }
  .item:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 1;
  
    grid-row-end: 3;
    grid-column-end: 3;
  }
  .item:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 3;
  
    grid-row-end: 3;
    grid-column-end: 5;
  }
  .item:nth-child(5) {
    grid-row-start: 3;
    grid-column-start: 1;
  
    grid-row-end: 4;
    grid-column-end: 5;
  }

  @media (max-width: 450px) {
    .artists-gallery-container{
      width: 100%;
    }
  }