nav{
  width: 100vw;
  height: 5vh;
  background-color: #ffa96a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  
}

nav ul li {
  display: inline;
  margin: 3vw;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffffff;
}
