.sellers-title {
  color: #fd8f41;
  margin-left: 10vw;
  margin-bottom: 2vh;
  font-style: italic;
}


.tickets-sellers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 10vw;
  height: auto;
}

.seller-row-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.local-sellers {
  margin: 1vh 0;
  font-size: 1.1rem;
  color: #4c4c4c;
}

@media screen and (max-width: 800px) {
  .sellers-title{
    width: 110px;
    padding: 5px;
    font-size: 1.6rem;
  }

  .local-sellers{
    font-size: 0.7rem;
  }

  .tickets-sellers-container{
    margin: 0;
    flex-direction: column;
  }
}
