.foodtrucks {
  margin-top: 2vh;
}

.foodtrucks-title {
  color: #fd8f41;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.foodtrucks-title img {
  width: 48px;
  height: 48px;
}

.foodtrucks-intro {
  margin: 3vh 10vw 0;
  padding: 10px;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  color: #4c4c4c;
}

.foodtruck-accordion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.workshop-container {
  width: 100vw;
  height: 90vh;
  margin: 2vh 0;
}


