.chefs-title {
  color: #fd8f41;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.chefs-title img {
  width: 48px;
  height: 48px;
}

.chefs-intro {
  margin: 3vh 10vw 0;
  padding: 10px;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  color: #4c4c4c;
}

.chefs-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  align-items: center;
  perspective: 1000px;
  margin: 2vh 0;
}

@media screen and (max-width: 1000px) {
  .chefs-title h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .chefs-intro {
    margin: 2vh 10vw;
    padding: 5px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .chefs-title h1 {
    font-size: 1.1rem;
    text-align: center;
  }

  .chefs-intro {
    margin: 2vh 10vw;
    font-size: 0.8rem;
  }
}
