.seller-container {
    margin: 10px;
    width: 300px;
    text-align: center;
  }
  
  .seller-button {
    width: 200px;
    display: inline-block;
    background-color: #fd8f41;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.5s;
    transition: color 0.5s;
    font-size: 1rem;
  }
  
  .seller-button:hover {
    background-color: #f0f0f0;
    color: #fd8f41;
  }

  @media screen and (max-width: 800px) {
    .seller-button{
      width: 110px;
      padding: 5px;
      font-size: 0.8rem;
    }
  }

  